## .NET
bin/
obj/
*.user
*.suo

## Visual Studio
.vs/
*.userosscache
*.sln.docstates
*.userprefs

## Rider
.idea/
*.sln.iml

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Oo]bj/
[Bb]in/

## NuGet
*.nupkg
*.snupkg
packages/

## OS
.DS_Store
Thumbs.db
desktop.ini

## Secrets
MyMall/appsettings.json
appsettings.Development.json